
.card {
  filter: brightness(100%);
  transition: all 0.2s ease;
  /* Disable the default underline for anchors from user-agent css */
  text-decoration: none;
  /* Ensure all cards take up the whole row height-wise, to prevent uneven heights across cards */
  min-height: 100%;
  filter: drop-shadow(5px 5px 4px #6b6b6b48);
}

.card > div {
  /* Have the div within the card grow to the whole container */
  flex: 1 1;
}

.card-icon {
  max-width: 6em;
}

.card-footer {
  border-top: none;
}

.card:focus, .card:hover {
  filter: brightness(90%);
  transition: all 0.2s ease;
  filter: drop-shadow(5px 5px 6px #6b6b6baa);
}

.card:active {
  filter: brightness(110%);
  transition: all 0.2s ease;
  filter: drop-shadow(5px 5px 4px #6b6b6b48);
}

.card-text {
  white-space: pre-line;
}
