
.btn-listening-exercise-continue {
  max-width: min(70%, 400px);
  min-width: max(30%, 200px);
  height: 50px;
  vertical-align: middle;
}

.listening-transcript {
  padding-right: 0;
}

.listening-transcript-text {
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 992px) {
  .listening-header-box {
    height: 400px;
  }
}

@media screen and (min-width: 992px) {
  .listening-transcript {
    overflow-y: scroll;
    max-height: 335px;
  }
}
@media screen and (max-width: 991px) {
  .listening-transcript {
    overflow-y: scroll;
    height: 335px;
  }
}

.correct-answer {
  color: green;
}

.incorrect-answer {
  color: red;
}

.transcript-answer {
  background-color: rgb(198, 255, 198);
  text-decoration: underline; /* For visibility aside from color */
}
