
.image-button-icon {
  width: 100px;
  height: 100%;
}

.page-buttons-size {
  width: 50px; /* Default width */
  height: auto; /* Maintain aspect ratio */
}

.word-column {
  /* Upper bound for column widths */
  width: calc(min(40%, 250px));
}

.btn-exercise-option {
  min-width: 100% !important;
  min-height: 80px;
  padding: 5px;
}

.bottom-btn {
  min-width: 120px;
  min-height: 50px;
}

.faded-out {
  filter: opacity(75%);
}
