
hr {
    margin: 20px 0 20px 0;
}

#header {
    background-color:#000000;
    width: 100%;
}

.header > .horizontal-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch; /* Make items stretch to fill the height */
}

.bg-primary {
    background-color: #E8EFD1;
}

.bg-secondary {
    background-color: #CADB95;
}

.bg-secondary-alt {
    background-color: #F7FAF0;
}

#footer {
    position: relative; /* Set position to relative */
    margin-top: auto; /* Push the footer to the bottom */
    width: 100%;
}
.button {
    display: flex;
    flex-grow: 1; /* Make the buttons occupy full height */
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #CADB95; /* Set button background color */
    color: #000000; /* Set text color */
    text-decoration: none; /* Remove default underline */
    border: none; /* Remove border */cursor: pointer; /* Change cursor to pointer on hover */
}

.button:hover {
    background-color: #809735; /* Change background color on hover */
    color: #ffffff; /* Set text color */
}


.social-media-icon {
    width: 32px;
    height: 32px;
}

.social-media-icon > img {
    width: 100%;
    height: 100%;
}

.content {
    margin: 0 auto 0 auto;
    padding: 30px 20px 30px 20px;
    width: fit-content;
    min-width: 70vw;
    flex-grow: 1;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 100vh; /* Ensure the page is always long enough for the footer to stay at the bottom of vp */
    background-color: rgb(227, 233, 207);
}

.horizontal-container {
    display: flex;
    flex: 0 0 0;
    flex-direction: row;
    height: 10vh;
    max-height: 200px;
    align-items: start;
    gap: 25px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    padding: 0 15px 0 15px;
}

* {
    box-sizing: border-box;
}

/* Contact page */

.contact-form-container {
    display: flex;
    flex: 0 0 0;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 25px;
    margin-top: auto;
    margin-bottom: auto;
    flex-wrap: wrap;
}

.contact-form {
    flex-grow: 1;
    max-width: 500px;
}

.aside-info {
    max-width: 500px;
}

#contact-body {
    min-height: 200px;
}

form {
    margin: 0 10px 0 10px;
}

form input,
form label,
form p,
form textarea {
    display: block;
    margin: 3px;
    width: 100%;
}

form p {
    font-weight: bold;
    margin-top: 15px;
}

/* Labels have extra margin at top to better separate fields */
form label {
    margin-top: 10px;
}

.form-button {
    width: 100px;
    height: 30px;
    margin: auto;
}

.small-note {
    font-size: small;
    font-weight: normal;
    margin: 3px;
}

/* Project page */

#projectContainerMain {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

#projectFlexboxMain {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 20px;
    margin: 10px;
    overflow: hidden;
}

#projectFlexboxMain .item {
    height: 100%;
    background-color: #B2BAD2;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

#projectFlexboxMain .item:nth-child(even) {
    background-color: #C4D2E9;
}

/* Index page */
#indexContainerMain {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

#indexFlexboxMain {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 20px;
    margin: 10px;
    overflow: hidden;
}

#indexFlexboxMain .item {
    height: 100%;
    background-color: #B2BAD2;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

#indexFlexboxMain .item:nth-child(even) {
    background-color: #C4D2E9;
}

/* About us page */
#aboutUsFlexboxMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.team {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.member {
    text-align: center;
    margin: 10px;
    
    padding-top: 50px;
    border-radius: 10px;
    background-color: #C5C3BF;
    width: 220px; /* Set a fixed width */
    height: 220px; /* Set a fixed height */
}
.team .member img {
    width: 100px; /* Set a fixed width */
    height: 100px; /* Set a fixed height */
}



.highlight {
    text-decoration: underline;
    text-decoration-color: rgb(0, 255, 0);
}

#aboutUsFlexboxMain {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Change flex direction to column */
    align-items: center;

}

#aboutUsFlexboxMain .item {
    display: flex;
    flex-direction: row; /* Set each item to display as rows */
    align-items: center;
    padding: 20px;
    width: 85%;
    margin: 10px;
    border-radius: 20px;
}

#aboutUsFlexboxMain .item:nth-child(odd) {
    background-color: #B2BAD2;
}

#aboutUsFlexboxMain .item:nth-child(even) {
    background-color: #C4D2E9;
}


.text {
    flex: 1;}

.image {
    margin: 10px;
}

.image img {
    width: 400px; /* Set a fixed width for the image */
    height: 400px; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure image does not exceed container width */
}

.highlight {
    text-decoration: underline;
    text-decoration-color: #8DA63A;
}

.dot {
    display: inline-block;
    width: 10px; /* Adjust the size of the dot */
    height: 10px; /* Adjust the size of the dot */
    background-color: #E49273; /* Color of the dot */
    border-radius: 50%; /* Creates a circle */
    margin-right: 10px; /* Spacing between dots */
}
